 RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ /tentaciones-marilin/dashboard/index.php/ [L]
    ErrorDocument 404 /tentaciones-marilin/dashboard/index.php