.banner{
	position: relative;
	width: 100%;
	line-height: 0;
}
/*VIDEO*/
.background-banner{
	position: inherit;
	width: inherit;
	height: auto;
	opacity: 0.5;
}
//CONTAINER TITLES
.banner-text{
	position: absolute;
	z-index: 90;
	font-family: @font-tenta;
	width: 100%;
	text-align: center;
	margin-top: 25%;
	line-height: normal;
}
//TITLE NAME
.banner-title{
	color: @gris1;
	font-size: 89px;
	margin: 5px 0;
}
//TITLE SLOGAN
.banner-eslogan{
	color: @rojo;
	font-size: 54px;
	margin: 5px 0;
}