/*
	=================================================================
	IMAGES
	=================================================================
*/
//delete margin, padding bootstrap
.img{
	margin: 0;
	padding: 0;
}
.images-box{
	position: relative;
	background: @gris1;
	overflow: hidden;
	margin: 0 auto;
}
.image-min{
	border: 1px solid @gris2;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	&:hover{
		background: darken(@gris1, 10%);

		.image{
			transform: scale(1.5);
		}
	}

}
.image{
	height: 100px;
	float: left;
	margin: 50% 0 0 37%;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	}
