@media (max-width: 768px) {
	.navbar-default{
		//logo
			& img[src*="img/logop.png"]{
			margin: 20% 0 0 50%;
		}
		& .navbar-nav > li > a{
			font-size: 30px;
		}
	}
	//li content bar
	#navheader > ul{
		float: left;
		width: 100%;
		& > li > a{
			text-align: center;
		}
	}
	//btn li collapsed
	.navbar-collapse{
		padding-right: 0;
		padding-left: 0;
		&.in{
			overflow-y: visible;
			overflow-x: visible;
		}
	}
	.navbar-nav{
		margin: 0;
		& > li {
			padding: 1% 0;
		}
	}
}