@media (max-width: @screen-tablet){
/*
=================================================================
NAVBAR
=================================================================
*/
	.navbar-default{
		//logo
			& img[src*="img/logop.png"]{
			margin: 20% 0 0 50%;
		}
		& .navbar-nav > li > a{
			font-size: 30px;
		}
	}
	#navheader > ul{
		float: left;
		width: 100%;
		& > li > a{
			text-align: center;
		}
	}
	.navbar-nav{
		margin: 0;
		& > li {
			padding: 1% 1%;
		}
	}
}
@media (max-width:@screen-movil){
/*
=================================================================
BANNER
=================================================================
*/
	//TITLE NAME
	.banner-title{
		font-size: 50px;
	}
/*
=================================================================
NAVBAR
=================================================================
*/
	.slide{
		& .item{
			&  > img{
				margin: 0 0 0 0;
			}
		}
	}
}